<!DOCTYPE html>
<html>
<head>
    <title>BETA: SOLE SURVIVOR</title>
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <!-- <link rel="stylesheet" href="app.js"> -->
</head>

<body>

	<div id="app" class="container-fluid">

		<!-- TITLE -->
		<div class="text-center"><h1>BETA: SOLE SURVIVOR</h1></div>
		<br>

		<!-- DER MAJICKER TIMER -->
		<div class="row">
			<div class="col-4 offset-4">
				<section class="text-center der-timer">Turns Left: {{ timer }}
					<div class="text-center upload-bar" :style="{width: timer + '%'}"></div>
				</section>
			</div>
		</div>
		<br>

		<!-- PLAYER UI -->
		<div class="row players"> 
			<div class="col-3 offset-1 player">
				<div class="text-center">PLAYER</div>
				<div class="col-12 player">
					Phillip Wong

					<div class="col-12 no-pad">
						<section>Health: {{ playerHealth }}<div class="health-bar" :style="{width: playerHealth + '%'}"></div></section>
						<br>
						<button v-bind:class="{ disabled: zombieType != 'No' }" class="move" @click="move">Move</button>
						<button v-bind:class="{ disabled: zombieType != 'No' || room == 0 || searchChance == 0 }" class="search" @click="searchRoom">Search</button>
						<button v-bind:class="{ disabled: zombieType != 'No' || playerHealth == 100 }" class="rest" @click="rest">Rest</button>
						<button v-bind:class="{ disabled: zombieType != 'No' || playerHealth == 100 || medPacks < 1}" class="heal" @click="phillipHeal">Heal</button>
						<button v-bind:class="{ disabled: zombieType == 'No' }" class="attack" @click="phillipAttack">Attack!</button>
					</div>
					<br>
					<div class="col-12 medPacks">Med Packs: {{ medPacks }} (max 3)</div>
					<div class="col-12 virusPatch">Virus Patch: {{ virusPatch }} (max 1) <button v-bind:class="{ disabled: zombieType == 'No' || virusPatch < 1 }" class="patch" @click="patchZombie">Patch Zombie</button></div>
				</div>
			</div>

			<!-- LOG TEXT -->
			<div class="col-4 text-center log">LOG
				<ul class="no-pad">
	                <li v-for="turn in turns"
	                    :class="{'player-turn': turn.isPlayer, 'zombie-turn': !turn.isPlayer, 'player-heal': turn.isHeal, 'player-move': turn.isMove, 'player-rest': turn.isRest, 'patch-zombie': turn.isPatched}">
	                    {{ turn.text }}
	                </li>
            	</ul>
			</div>
		
			<!-- ZOMBIE UI -->
			<div v-if="zombieType != 'No'" class="col-3 enemy"> 
				<div class="col-12 text-center">Room: {{ room }}</div>
				<div class="col-12 enemy text-right">
					{{ zombieType }} Zombie
					<div class="col-12 no-pad">
						<section>Health: {{ enemyHealth }}<div class="health-bar" :style="{width: enemyHealth + '%'}"></div></section>
					</div>
				</div>
			</div>
		
			<!-- EMPTY ROOM UI -->
			<div v-if="zombieType == 'No'" class="col-3 all-clear">
				<div v-if="room != 0" class="col-12 text-center">Room: {{ room }}</div>
				<div v-if="room != 0" class="text-center">NO ZOMBIES HERE</div>
				<div v-if="room == 0" class="col-12 text-center">I.T. Room</div>
				<div v-if="room == 0" class="text-center">Move Out And Save The World One User At A Time!</div>
				<div v-if="searchChance == 0" class="text-center">There Is Nothing Else Of Value Here. Time To Move On!</div>
				<!-- <div v-if="room != 1" class="text-center">Searches Left: {{ searchChance }}</div> -->
				<section class="text-center" v-if="room != 0 && searchChance != 0">Search Chance: {{ chanceText }}<!-- <div class="search-chance-bar" :style="{width: searchChance + '%'}"></div> --></section>
			</div>
		</div>

		<br>

		<div class="row text-center components">
			<div class="col-12"><h2>Total BETA Components Found: {{ betaComponents }}</h2></div>
			<div class="col-12">B Components Found: {{ beta_b }}</div>
			<div class="col-12">E Components Found: {{ beta_e }}</div>
			<div class="col-12">T Components Found: {{ beta_t }}</div>
			<div class="col-12">A Components Found: {{ beta_a }}</div>
			<div class="col-12"><button v-bind:class="{ disabled: summon_dermajicker == 'false' }" class="summon" @click="use_beta">Summon Der Majicker!</button></div>
		</div>
		<br>
		<br>
	</div>
	<script src="app.js"></script>
</body>


</html>