body {
	background-color: black;
}

h1 {
	color: blue;
}

button {
    margin-top: 2px;
    margin-bottom: 2px;
}

.players {
	color: white;
}

.health-bar {
    width: 100%;
    height: 40px;
    background-color: #eee;
    margin: auto;
    transition: width 500ms;
    margin: 0;
}

.search-chance-bar {
    width: 100%;
    height: 40px;
    background-color: #eee;
    margin: auto;
    transition: width 500ms;
    margin: 0;
}

.upload-bar {
    width: 100%;
    height: 40px;
    background-color: #990000;
    margin: auto;
    transition: width 500ms;
}

.attack {
	background-color: white;
	color: blue;
	cursor: pointer;
    border-radius: 5px;
}

.move {
	background-color: white;
	color: black;
	cursor: pointer;
    border-radius: 5px;
}

.search {
	background-color: blue;
	color: white;
	cursor: pointer;
    border-radius: 5px;
}

.heal {
	background-color: green;
	color: white;
	cursor: pointer;
    border-radius: 5px;
}

.patch {
	background-color: green;
	color: white;
	cursor: pointer;
    border-radius: 5px;
}

.rest {
	background-color: #b3ffb3;
	color: black;
	cursor: pointer;
    border-radius: 5px;
}

.components {
	color: white;
}

.disabled {
	cursor: inherit;
    opacity: 0.2;
}

.medPacks {
	color: white;
}

.enemy .health-bar {
	right: 0;
    position: absolute;
    background-color: #990000;
}

.no-pad {
	padding-right: 0px;
	padding-left: 0px;
}

.turn {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 22px;
}

.log {
	height: 300px;
    overflow: hidden;
    background-color: black;
    position: relative;
}

.log ul:after {
	content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background: rgba(150, 123, 19, 1);
    background: -webkit-gradient(linear, 0% 0% 0% 100%, from(rgba(255, 255, 255, 0.1)), to(rgba(0, 0, 0, 1)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), rgba(0, 0, 0, 1));
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0), rgba(0, 0, 0, 1));
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0), rgba(0, 0, 0, 1));
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0), rgba(10, 0, 0, 1));
    bottom: 0;
    left: 0;
    z-index: 10;
}

.log ul {
    list-style: none;
    font-weight: bold;
    text-transform: uppercase;    
}

.log ul li {
    margin: 5px 20px 5px 20px;
    border-radius: 5px;
}

.log ul .player-turn {
    color: blue;
    background-color: white;
}

.log ul .zombie-turn {
    color: white;
    background-color: #ff0000;
}

.log ul .player-heal {
    color: white;
    background-color: #4d9900;
}

.log ul .player-move { 
    color: black;
    background-color: white;
}

.log ul .player-rest { 
    color: black;
    background-color: #b3ffb3;
}

.log ul .patch-zombie { 
    color: black;
    background-color: #b3ffb3;
}

.der-timer {
	color: white;
}

.virusPatch button {
    margin-left: 5px;
}

.summon {
    background-color: red;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.img-round {
    border-radius: 50%;
    margin-bottom: 20px;
}

.enemy img, .all-clear img {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}