body {
	background-color: black;
}

h1 {
	color: blue;
}

.players {
	color: white;
}

.health-bar {
    width: 100%;
    height: 40px;
    background-color: #eee;
    margin: auto;
    transition: width 500ms;
    margin: 0;
}

.upload-bar {
    width: 100%;
    height: 40px;
    background-color: #990000;
    margin: auto;
    transition: width 500ms;
}

.attack {
	background-color: red;
	color: white;
	cursor: pointer;
}

.move {
	background-color: white;
	color: black;
	cursor: pointer;
}

.search {
	background-color: blue;
	color: white;
	cursor: pointer;
}

.heal {
	background-color: green;
	color: white;
	cursor: pointer;
}

.components {
	color: white;
}

.disabled {
	cursor: inherit;
    opacity: 0.2;
}

.medPacks {
	color: white;
}

.enemy .health-bar {
	right: 0;
    position: absolute;
}

.no-pad {
	padding-right: 0px;
	padding-left: 0px;
}

.turn {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 22px;
}

.log {
	max-height: 300px;
    overflow: hidden;
}

.log ul {
    list-style: none;
    font-weight: bold;
    text-transform: uppercase;
}

.log ul li {
    margin: 5px 20px 5px 20px;
}

.log ul .player-turn {
    color: blue;
    background-color: #e4e8ff;
}

.log ul .zombie-turn {
    color: white;
    background-color: #ff0000;
}

.log ul .player-heal{
    color: white;
    background-color: #4d9900;
}

.log ul .player-move{
    color: black;
    background-color: white;
}

.der-timer {
	color: white;
}